# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Build output
bin/
final-jars/

# Minecraft dev
run/
tmp_src/

# Scratch
untitled/
